@tailwind base;
@tailwind components;
@tailwind utilities;




@keyframes wavy {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.card-container {
    animation: wavy 2s infinite;
}

.card-container {
    animation: wavy 2s infinite;
}

.card-container.paused {
    animation-play-state: paused;
}